/* Código relacionado ao header */

h1{
    width: 90%;
    font-family: clarendon Blk Bt Black;
}

.container{
    width: 90%;
    display: flex;
}

.header .container, .header_Absolute .container{
    font-family: Bahnschrift;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0px;
}

.header .container .container , .header_Absolute .container .container{
    justify-content: space-around;
    height: 60px;
    width: 22%;
    background-color: #3a3383;
}

.header .container img, .header_Absolute .container img{
    width: 8%;
    border: 5px solid rgb(58, 51, 131);
    padding: 1px;
    border-radius: 10px;
    cursor: pointer;
}

.header .container h1, .header_Absolute .container h1{
    background-color: rgb(58, 51, 131);
    color: rgb(107, 95, 255);
    width: 17%;
    font-size: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    background-color: rgb(58, 51, 131);
    font-size: 20px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    height: 60px;
    width: 53%;
    align-items: center;
}

li a{
    text-decoration: none;
    color: white;
}

h1 a{
    text-decoration: none;
    color: #6c5eff;
    font-family: clarendon Blk Bt Black;
}

.btn{
    font-family: Bahnschrift;
    background-color: #6c5eff;
    color: white;
    height: 32px;
    width: 120px;
    font-size: 19px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

.agora{
    font-weight: bolder;
    font-size: 22px;
}

/* Término do código relacionado ao header */

/* Código relacionado ao simulador */

h2{
    font-family: Bahnschrift;
}


.banner .container{
    margin: auto;
    height: 500px;
    /* border: 2px solid darkblue; */
}

.card_result{
    font-family: Bahnschrift;
    background-color: rgb(58, 51, 131);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    height: 540px;
    width: 45%;
}

.banner .container .card_result h1{
    color: rgb(107, 95, 255);
    font-size: 45px;
    margin: auto;
}

.banner .container .card_result p{
    line-height: 40px;
    height: 420px;
    width: 90%;
    text-align: left;
    color: white;
    font-size: 15px;
}

.card{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 540px;
    width: 45%;
}


.card h3{
    font-family: Bahnschrift;
    color: rgb(107, 95, 255);
}

.card .container{
    height: 70px;
}

.card .container .btn{
    height: 60px;
    width: 200px;
    margin: auto;
    font-size: 25px;
}

.label{
    margin: auto;
    width: 90%;
}

.label h2{
    color: rgb(58, 51, 131);
    font-family: Arial, Helvetica, sans-serif;
}

.label input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(59, 58, 58);
    outline: none; /* Remove as bordas ao clicar na input */
    min-width: 180px; /* O mínimo da largura que pode chegar o input é 180 */
    font-size: 16px; 
}

.label input::-webkit-outer-spin-button,   /* Código para remover as setas do input number */
.label input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.label .combo_box{
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

/* Término do código relacionado ao Simulador */

/* Início código Index/Home */

body{
    margin: 0;
    padding: 0;
}

.header_Absolute{
    position: absolute;
    z-index: 1000;
}


.banner_home{
    background-image: url(../img/bebe_home.jpg);
    background-size: cover;
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* border: 2px solid darkblue;   */
}

.card_titulo .titulo{
    font-size: 1000%;
    font-family: clarendon Blk Bt Black;
    margin-left: 2%;
}

.card_titulo p{
    margin: 0;
    font-size: 150%;
    font-family: Bahnschrift;
    margin-left: 5%;
}

 .card_titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #6c5eff;
    background-color: white;
    height: 100vh;
    width: 60%;
    padding-top: 4%;  
    /* border: 2px solid red;   */
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;
    
    width: 60%;
    
    /* border: 2px solid red; */
}

.btn_Cadastre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    

    font-family: Bahnschrift;
    font-size: 30px;
    color: #3a3383;
    height: 60px;
    width: 200px;
    
    border-radius: 15px;
    border: 5px solid #6c5eff;
    cursor: pointer;
}

.btn_Entrar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Bahnschrift;
    font-size: 30px;
    background-color: #3a3383;
    color: white;
    height: 70px;
    width: 210px;    
    border-radius: 15px;
    cursor: pointer;
}

/* Fim código Index/Home */

/* Começo Contato */

h2{
    font-family: Bahnschrift;
}


.banner .container{
    margin: auto;
    height: 550px;
}

.card_result_formulario{
    font-family: Bahnschrift;
    background-color: rgb(107, 95, 255);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    height: 540px;
    width: 45%;
}

.banner .container .card_result_formulario h1{
    color: white;
    font-size: 45px;
    margin: auto;
}

.card_informacoes{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 540px;
    width: 45%;
}

.card_informacoes h3{
    font-family: Bahnschrift;
    color: rgb(107, 95, 255);
}

.card_result_formulario .container{
    height: 70px;
}

.card_result_formulario .container .btn_formulario{
    height: 60px;
    width: 150px;
    margin: auto;
    font-size: 25px;
}

.btn_formulario{
    font-family: Bahnschrift;
    background-color: rgb(58, 51, 131);
    color: white;
    height: 32px;
    width: 120px;
    font-size: 19px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

.label_formulario{
    margin: auto;
    width: 90%;
}

.label_formulario h2{
    color: rgb(58, 51, 131);
    font-family: Arial, Helvetica, sans-serif;
}

.card_informacoes .label h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.card_informacoes .label h3{
    display: flex;
    justify-content: center;
}

.card_informacoes #div_email{
    border-top: 2px solid #6c5eff;
    border-bottom: 2px solid #6c5eff;
}

.card_informacoes #div_endereco {
    margin-bottom: 0;
}

.card_informacoes #div_endereco h3{
    background-color: greenyellow;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

/* Imagem */
.card_informacoes #div_img_loca{
    display: flex;
    background-color: red;
    width: 10px;
    align-self: flex-end;
}

.card_informacoes #div_email{
    margin-top: 0;
    margin-bottom: 0;
}
.card_informacoes #div_telefone{
    margin-top: 0;
}

.label_formulario input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(59, 58, 58);
    outline: none; /* Remove as bordas ao clicar na input */
    min-width: 180px; /* O mínimo da largura que pode chegar o input é 180 */
    font-size: 16px; 
    background-color: #6c5eff;
}

/* Fim Contato */  


/* Comeco Do login */

/* Comecando o login */

/* Configurando a FOTO */
.container .card_foto{
    display: flex;
    height:  100%;
    width: 50%;
    /* border: 2px solid saddlebrown; */
}
.card_foto img{
    height: 100%;
    width: 100%;
    border-top-right-radius:10%;
    border-bottom-right-radius:10%;
}
/* CONFIGURANDO a DIV LOGIN E O H3 */
.container .card_login{
    display: flex;
    height:  100%;
    width: 50%;
    /* border: 2px solid rgb(12, 7, 3); */
    flex-direction: column;
}
.card_login h3{
    font-weight: 1000;
    color: #3a3383;
    font-size: 28px;
    padding-left: 40px;
}
/* CONFIGURANDO OS ICONES */
.card_login .icones_imagens img{
    height: 50px;
    width: 50px;
}
.card_login .icones_imagens{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    justify-content: space-around;
    /* border: 2px dashed firebrick; */
}
/* Configurando A LABEL DENTRO DA DIV*/
.card_login .label{
    height: 235px;
    width: 80%;
    color: #3a3383;
    font-size: 20px;
    /* border: 2px solid gold; */
}
.card_login .botoes{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-evenly;
    /* border: 2px solid gold; */
}
.card_login .botoes .btn{
    /* border:2px solid firebrick;  */
    height: 50px;
    width: 180px;
}

/* Fim do Login */


/* COMEÇANDO O CADASTRO */
.container .card_cadastro{
    display: flex;
    height:  110%;
    width: 50%;
    /* border: 2px solid rgb(12, 7, 3); */
    flex-direction: column;
}
.card_cadastro h3{
    font-weight: 1000;
    color: #3a3383;
    font-size: 30px;
    padding-left: 30px;
}
/* CONFIGURANDO OS ICONES */
.card_cadastro .icones_imagens img{
    height: 50px;
    width: 50px;
}
.card_cadastro .icones_imagens{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    justify-content: space-around;
    /* border: 2px dashed firebrick; */
}
/* Configurando A LABEL DENTRO DA DIV*/
.card_cadastro .label{
    height: 80%;
    padding-top: 10px;
    width: 85%;
    color: #3a3383;
    /* border: 2px solid gold; */
    padding-left: 2px;
}
.card_cadastro .label h2{
    font-size: 18px;
}
.card_cadastro .botoes{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-evenly;
    /* border: 2px solid gold; */
}
.card_cadastro .botoes .btn{
    /* border:2px solid firebrick;  */
     height: 50px;
    width: 180px;
}  

/* Fim do Cadastro */

/* Rodapé começo */

.footer.footer{
   height: 100%;
   background: #3a3383;
   position: relative; 

}

.rodape{
    text-decoration: none;

}
.paginas{
    margin-left: 45px;
}

.footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4,1 fr);
 
}

