body{
    margin: 0;
}

/* Inicio Header*/

.header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6c5eff;
    height: 100vh;
    width: 20%;
    position: absolute;
}

.card_logo{
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding-top: 2%;

    /* border: red solid 10px; */
}

h2 a{
    text-decoration: none;
    color:#3a3383;
    font-family: clarendon Blk Bt Black;
    font-size: 35px;
}

.header .container img{
    width: 70px;
    height: 70px;
}

.card_perfil{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 30vh;
    border-radius: 20px;
    background-color: #3a3383;
    list-style: none;
}

.header .container .card_perfil img{
    width: 120px;
    height: 120px;
    background-color: #3a3383;
    border-radius: 90px;
    border: #6c5eff solid 10px;
}

.navbar {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    justify-content: space-evenly;
    height: 45vh;
    align-items: center;

    /* border: red solid 10px; */
}

li a {
    text-decoration: none;
    color: white;
    font-family: Bahnschrift;
    font-size: 20px;
}

/* Fim Header*/

/* Inicio Meus Refrigeradores*/

.banner {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    float: right;
    border: 2px solid blue;
}

.refrigeradores{
    display: flex;
    width: 500px;
    border: red solid 10px;
    align-content: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
}

.card_refri1, .card_refri2, .card_refri3, .card_refri4{
    
    background-color: #3a3383;
    color: white ;
    font-family: Bahnschrift;
    font-size: 15px;
    height: 130px;
    width: 250px;
    border-radius: 20px;
    padding: 10px 20px 0px 20px;
}

.barra{
    height: 2px;
    background-color: white;
}

.temperatura_atual{
    font-size: 70px;
}

.card_metricas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: Bahnschrift;
    background-color: #3a3383;
    height: 600px;
    width: 100px;
    border-radius: 25px;
}

.perigo1{
    justify-content: center;
    background-color: green;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.perigo2{
    justify-content: center;
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 10px;
}