body{
    margin: 0;
}

/* Inicio Header*/

.header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6c5eff;
    height: 100vh;
    width: 20%;
    position: fixed;
}

.card_logo{
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding-top: 2%;
    /* border: red solid 10px; */
}

h2 a{
    text-decoration: none;
    color:#3a3383;
    font-family: clarendon Blk Bt Black;
    font-size: 35px;
}

.header .container img{
    width: 70px;
    height: 70px;
}

.card_perfil{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 30vh;
    border-radius: 20px;
    background-color: #3a3383;
    list-style: none;
}


.header .container .card_perfil img{
    width: 120px;
    height: 120px;
    background-color:white;
    border-radius: 90px;
    border: #6c5eff solid 10px;
}

.navbar {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    justify-content: space-evenly;
    height: 45vh;
    align-items: center;

    /* border: red solid 10px; */
}

li a {
    text-decoration: none;
    color: white;
    font-family: Bahnschrift;
    font-size: 20px;
}

/* Fim Header*/

/* Inicio Meus Refrigeradores*/

.banner .container{
    margin: 0;
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 80%;
    float: right;
    /* border: 2px solid aqua; */
}

.refrigeradores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 130vh;
    height: 100vh;
}

.barra{
    height: 1px;
    background-color: white;
}

.card_refri{
    height: 100px;
    width: 350px;
    border-radius: 20px;
    padding: 0px 10px 20px 10px;
    background-color: #3a3383;
    font-family: Bahnschrift;
    color: white;
}

.temperatura_atual{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 50px;
}

.bola{
    width: 50px;
    height: 50px;
    background-color: rgb(60, 236, 113);
    border-radius: 100px;
}

.grafico{
    align-items: center;
    background-color: #d8d8d8;
    height: 60vh;
    width: 150vh;
}

.grafico h2{
    color: #6c5eff;
    font-family: clarendon Blk Bt Black;
}

.card_metricas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 98vh;
    width: 150px;
    border-radius: 20px;
    background-color: #3a3383;
    font-family: Bahnschrift;
    font-size: 20px;
    color: white;
}

.numero{
    font-size: 25px; 
}

.indicador{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 120px;
    border-radius: 15px;
}

.I{
    background-color: rgb(60, 86, 236);
}

.II{
    background-color: #33bee0;
}

.III{
    background-color: rgb(60, 236, 113);
}

.IIII{
    background-color: rgb(236, 224, 60);
}

.IIIII{
    background-color: rgb(236, 86, 60);
}


/* COMECANDO A PAGINA TODOS OS REFRIGERADORES  */

.temperaturas{
    display: flex;
    height: 15vh;
    width: 100%;
    border-radius: 15px;
    margin-top: 5px;
    background-color: #3a3383;
    /* border: 2px solid saddlebrown; */
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}

.alertas{
    display: flex;
    /* border: 2px solid seagreen; */
    height: 80%;
    width: 120px;
    border-radius: 15px;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner .container .tudo{
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100%;
        width: 80%;
        /* border: 2px solid firebrick; */
}

.tudo .refrigeradores{
    padding-top: 15px;
}

.tudo .refrigeradores .card_refri{
    margin-bottom: 4px;
}

/* GRAFICOS */
.h2{
    font-family: Bahnschrift;
}
.h3{
    font-family: Bahnschrift;
}

.todos{
    display: flex;
    flex-direction: column;
    /* border: 2px solid firebrick; */
    height: 800px;
    width: 1000px;
    align-items: center;
}

.grafico2{
    display: flex;
    height: 100%;
    width:  100%;
    background-color: white;
    justify-content: space-between;

}

.grafico2 .sub_grafico{
    height: 90%;
    width: 48%;

}





/* COMECANDO A PAGINA DE ADICIONAR USUARIOS */

.form{
    display: flex;
    height: 570px;
    width: 50%;
    border: 5px solid #3a3383;
    margin-top: 30px;
    border-radius: 40px;
    background-color: #6c5eff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Bahnschrift;
    font-size: 18px;
}

.list_form h2{
    color:white;
    font-family: Bahnschrift;
}

.form .list_form{
    height: 80%;
    width: 80%;
}

.btn {
    font-family: Bahnschrift;
    background-color: #6c5eff;
    color: white;
    height: 12%;
    width: 30%;
    font-size: 19px;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    border: 5px solid white;
}
 input {
    width: 99%;
    border: 0;
    border-bottom: 2px solid #3a3383;
    outline: none;
    /* Remove as bordas ao clicar na input */
    min-width: 180px;
    /* O mínimo da largura que pode chegar o input é 180 */
    font-size: 16px;
    background-color:#6c5eff;
}
